*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html {
	font-family: calibri;
	font-size: 16px;
	color: black;
}

body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: flex-start;

	max-width: 1000px;
	width: 100%;
	min-height: 100vh;

	padding-top: 30px;
}

main > h1 {
	position: relative;
	font-size: 50px;
}

main > h1:before {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	bottom: -10px;
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	background-color: orange;
}

main .btn-container {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 40px 0 60px 0;
}

main .btns {
	margin: 0 5px;
	padding: 5px 10px;
	background-color: white;
	color: orange;
	border: 1px solid orange;
	border-radius: 5px;
	text-transform: capitalize;
}

main .btns:hover {
	background-color: orange;
	color: white;
}

main img {
	max-width: 180px;
	aspect-ratio: 1.7;

	border: 2px solid orange;
	border-radius: 5px;
}

.menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px 20px;

	width: 100%;
	padding: 10px;
	margin-bottom: 30px;
}

.menu-items {
	display: grid;
	grid-template-areas: 
		"alias-img alias-h1"
		"alias-img alias-p";
	grid-gap: 10px;
}

.menu-items img {
	grid-area: alias-img;
}

.menu-items h1 {
	grid-area: alias-h1;
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid gray;

	font-size: 1.05rem;
	font-weight: 900;
	height: 20px;

	cursor: pointer;
}

.menu-items h1 .prices {
	color: orange;
}

.menu-items p {
	grid-area: alias-p;
	opacity: .8;
	line-height: 16px;
}

input {
	font-family: monospace;
	font-size: 2rem;
	padding: .5rem;
	border-bottom: 1px solid black;
}